$azul: #000080;

body {
  font-size: 20px;
}

.box {
  border: 1px solid;
  padding: 20px;
  margin: 20px auto;

  $azul: blue !default;
  color: $azul;
  border-color: blue;

  em {
    font-weight: bold;
  }
}

.vermelho {
  @extend .box;
  color: darkred;
  border-color: red;
}

.laranja {
  @extend .box;
  color: orangered;
  border-color: orange;
}