$azul-var: #000080;

body {
  font-size: 20px;
}

.box {
  border: 5px solid;
  padding: 20px;
  margin: 20px auto;
  color: white;
  $azul_var: blue !default;
  border-color: desaturate(darken($azul_var, 25%), 50%);
  background-color: $azul-var;

  em {
    font-weight: bold;
  }
}

.vermelho {
  @extend .box;
  color: darkred;
  border-color: red;
}

.laranja {
  @extend .box;
  color: orangered;
  border-color: orange;
}